@charset "utf-8";
/* CSS Document */
body{margin:0auto}





/*------title-------*/
.w1{width: 100%;height: 500px;background: #9E9E9E;}
.w2{width: 100%;height: 700px;}
.w3{direction: rtl; font-size: 74px; font-family: cursive; color: #673AB7}
.w4{direction: rtl; margin: 65px 98px 50px 185px;}